!!!
%html{ lang: 'en' }
  %head
    %title Wangplao
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ href: '/' }
            %span Wangplao!
            %small Fastest calendaring on the planet.
    .container
      .row
        .span12
          = yield
      .row
        .span12
          %hr
          %small Copyright &copy; 2012 Wangplao! team. All rights reserved.
